@tailwind base;
@tailwind components;

@tailwind utilities;
@layer base {
  body {
    font-family: 'Quicksand',sans-serif,'Roboto';
    background-color:rgba(255,245,245,0.8);
  }

}
.leaflet-container {
  height: 100vh;
  position: relative
  /* width: 100vw; */
}


.bottom-nav-link svg {
  @apply text-green-500;
}
@media screen and (maX-width:700px){
  
  .leaflet-top{
  top:80px
  }
}
